{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    Home page
{% endblock title %}



{% block body %}
    {%for post in posts%}
        <!-- post component -->
<div class='flex items-center justify-center p-3'>  
    <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
    <div class="flex w-full items-center justify-between border-b pb-3">
      <div class="flex items-center space-x-3">
        {% thumbnail post.author.profile.image "372x372" crop="center" as im %}
        <img class='h-8 w-8 rounded-full bg-slate-400' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="avatar">
        {% endthumbnail %}
        <div class="text-lg font-bold text-slate-700">{{ post.author.username }}</div>
      </div>
      <div class="flex items-center space-x-8">
        <button class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold">Category</button>
        <div class="text-xs text-neutral-500">{{ post.date }}</div>
      </div>
    </div>

    <div class="mt-4 mb-6">
      <div class="mb-3 text-xl font-bold">{{ post.text }}</div>
      <!-- TODO post body text -->
        <a class="text-sm text-neutral-600" href="{% url 'feed:detail' post.id %}">Read more</div> 
       
    </div>
  </div>
</div>
    {%endfor%}
{% endblock body %}
    